@model IEnumerable<examen_Web_2_12_2018.Models.Avto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name_avto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Driver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone_driver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seats)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name_avto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Driver)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone_driver)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seats)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<div>
    Количество заказов 
    @ViewBag.Quantity_orders
</div>
<div>
    Сумма заказов 
    @ViewBag.Sum_orders
</div>
